node_modules
dist
test/temp
.sass-cache
app/js/libs/bower
app/jade
app/css
.tmp
.DS_Store
test/bower_components/
npm-debug.log

hfmapi/*
!hfmapi/wp-content/

hfmapi/wp-content/*
!hfmapi/wp-content/plugins/

hfmapi/wp-content/plugins/*
!hfmapi/wp-content/plugins/internal.php