<div class="about-container">
	<img src="images/me.jpg" class="me" />
	<p>Welcome! Thanks for checking out the beta version of my site. I'm John Harrison, a programmer, artist and photojournalist based in Brooklyn. I also am managing editor of <a href="http://neatbeet.com">Neat Beet</a>, which is a NYC & CT based music news site I co-founded in early 2014. I greatly adore the music scene here and am happy to do my part in contribututing to it. It is the primary outlet for my photography as well.</p>
	<p>As a web developer, I've been working with creative agencies and startups around NYC since early 2012 building cutting edge web experiences and advertisements. I'm actively seeking my next fulltime role.</p>
	<p>Check below for my contact info for a variety of places online or hit me up with an e-mail. I'd love to hear your thoughts on any high tech projects, what band I should be listening to, or of any cool nooks and/or crannies to bring my camera.</p>
	<footer>
		<a href="mailto:john@harrisonfm.com">E-mail</a>
		<a href="http://last.fm/user/Krygore" target="_blank">LastFM</a>
		<a href="http://twitter.com/harrison_fm" target="_blank">Twitter</a>
		<a href="http://facebook.com/johnriharrison" target="_blank">Facebook</a>
		<a href="http://instagram.com/harrison_fm_" target="_blank">Instagram</a>
		<a href="http://steamcommunity.com/id/krygore/" target="_blank">Steam</a>
		<a href="aim:goim?screenname=TwentyNineTowers" target="_blank">AIM</a>
	</footer>
</div>