<aside>
	<button class="expand">Galleries</button>
	<ul class="gallery-list">
	</ul>
	<footer>
		<div id="title"></div>
		<div class="controls"><span class="prev">Prev</span> / <span class="next">Next</span> / <span class="return">Return</span></div>
	</footer>
</aside>
<section>
	<div id="thumbnails"></div>
	<div id="slides"></div>
</section>